<h3>About FRIENDS OF HATHAWAY</h3>

<p>FRIENDS OF HATHAWAY is a web-based application that allows fans of BBC mystery series Sherlock, Inspector Lewis, New Tricks, Prime Suspect, and Luther to discuss the episodes. Data is provided via the OMDB API. This app was built as a final project by Heidi Williams-Foy for the Web Development Immersive, General Assembly New York, class of summer/fall of 2014. 

Relevant documentation, code, etc. can be found on <a href="https://github.com/HeidiW/bbc_mystery_app">Github</a>.

</p>
