.show, .the-show {
	display: table-row;
}

.poster, .info, .the-show {
	display: table-cell;

}

.poster, .the-show {
	width: 25%;
}

.info {
	vertical-align: middle;
	width: 75%;
	margin-left: 60px;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
}

.hello-user {
	font-family: 'EB Garamond';
	font-size: 20px;
}

.show-list {
	color: black;
	font-size: 14px;
	padding-bottom: 20px;
}

.show-greeting {
	font-family: 'EB Garamond';
	font-size: 20px;
}








