html {

}

.welcome-heading {
	font-size: 5em;
	margin: 1.33em auto .5em 0;
	text-align: left;
}

.tagline {
	margin-bottom: 1.25em;
	text-align: left;
}

.welcome-body {
	text-align: left;
}

.login-signup {
	background-color: firebrick;
	vertical-align:left;
	border-radius: 35%;
	display: inline-block;
	padding: 1em;
}

.repeat_password {
	margin: 2px;
}

input#password {
	margin-left: 48px;
}

form {
	display:block;
	text-align: left;
}

input#user_password_confirmation {
	margin-left:5px;
	padding:0;
}
.field {
	display:block;
	text-align: left;
	font-size: 22px;
	color: white;
	margin: 10px 0px 23px 80px;
}
.remember-me-field {
	color: white;
	height: 20px;
}
input {
	width:200px;
	height:100%;
	margin-left: 80px;
	font-size: 20px;
}
