<style scoped>
  .site-header {display: none;}
</style>


<h1>Hello, Friend!</h1>
<h2>Choose a show:</h2>
<div class="show-list">
</div>
<br>
<br>

<script>
	getShows('/shows.json', '.show-list');
</script>
