<style scoped>
  .site-header {display: none;}
</style>

<div class="hello-user">
<h1>Hello, <%= current_user.name %></h1>
</div>
<h2>Choose a show:</h2>
<div class="show-list">
</div>
<br>
<br>

<script>
	getShows('/shows.json', '.show-list');
</script>
